body {
    background-image: url(background.jpg);
    background-size: 100%; 
}
@font-face {
    font-family: Tahoma, sans-serif;
   
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 2px #cccccc;
    background-color: whitesmoke;
    font: 8px; 
}
.header {
    background: white;
    text-align: center;
}
.header .layout-column-1 {
    float: left;
    width: 283px;
    margin-left: 30px;
    padding-left: 10px;
}
.header .layout-column-2 {
    float: right;
    margin-right: 20%;
    width: 330px;
    list-style: none;
    color: #34495e;
    line-height: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.header .layout-column-3 {
    float: right;
    width: 330px;
    margin-top: 155px;
}
.layout background {
    display: block;
     max-width: 1000px;
   
}

nav  {
    display:inline-block;
    margin: 0 auto;
   
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
   
    max-width: 1000px;
    max-height: 50px;
}

ul li {
    float: left;
    position: relative;
}
ul li ul {
    display: none;
    position: absolute;
    top: 20px; /* высоту лучше не делать большей высоты пункта меню первого уровня, иначе попасть на подменю будет проблематично */
    margin: 0;
    width: 300px;
    background: black;
    border: 1px solid #000;
}
ul li ul li {
float: none;
display: block;
background: #34495e; /* фон подменю*/
border-bottom: 1px solid #CCC;
}
ul li:hover ul {
display: block; /* при наведении на пункт меню первого уровня, показывем подменю */
}
.topmenu > li {
    background: #34495e;
}
.topmenu > li > a {
    font-size: 14px;
    color: antiquewhite;
    padding: 10px 10px;
}
.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
}
.features {
    margin-bottom: 10px;  
}
.features .leftlayout-column {
    float: left;
    width: 20%;
    min-height: 100px; 
    height: 650px;
    background: rgba(236, 240, 241, 0.8);
    border-bottom: 2px solid #95a5ab;
    margin-right: 50px;
}
.features .centerlayout-column {
    float: left;
    width: 45%;
    min-height: 100px; 
    height: 650px;
    background: rgba(236, 240, 241, 0.8);
    border-bottom: 2px solid #95a5ab;
    margin-right: 50px;
}
.features .rightlayout-column {
    float: right;
    width: 20%;
    min-height: 100px; 
    height: 650px;
    background: rgba(236, 240, 241, 0.8);
    border-bottom: 2px solid #95a5ab;
    margin-right: 50px;
}
.features .layout-column:last-child {
    margin-right: 0;
}